USE [master]
GO
/****** Object:  Database [1_QLBX]    Script Date: 06/13/2018 12:30:34 PM ******/
CREATE DATABASE [1_QLBX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1_QLBX', FILENAME = N'D:\1_QLBX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'1_QLBX_log', FILENAME = N'D:\1_QLBX_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1_QLBX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1_QLBX]
GO
USE [1_QLBX]
GO
/****** Object:  Table [dbo].[BENXE]    Script Date: 06/13/2018 12:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENXE](
	[IDBEN] [int] IDENTITY(1,1) NOT NULL,
	[TENBEN] [nvarchar](50) NULL,
	[TINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_BENXE] PRIMARY KEY CLUSTERED 
(
	[IDBEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETVE]    Script Date: 06/13/2018 12:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETVE](
	[IDCTVX] [int] IDENTITY(1,1) NOT NULL,
	[SOGHE] [int] NULL,
	[IDKHACH] [int] NULL,
	[IDVE] [int] NULL,
 CONSTRAINT [PK_CHITIETVE] PRIMARY KEY CLUSTERED 
(
	[IDCTVX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENXE]    Script Date: 06/13/2018 12:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENXE](
	[IDCHUYEN] [int] IDENTITY(1,1) NOT NULL,
	[IDTUYEN] [int] NULL,
	[BIENSO] [nvarchar](50) NULL,
	[NGAYKHOIHANH] [date] NULL,
	[THOIGIANKHOIHANH] [time](7) NULL,
	[THOIGIANDEN] [datetime] NULL,
	[GIAVECHUYEN] [money] NULL,
	[IDNV1] [int] NULL,
	[IDNV2] [int] NULL,
	[IDNV3] [int] NULL,
	[IDNV4] [int] NULL,
 CONSTRAINT [PK_CHUYENXE] PRIMARY KEY CLUSTERED 
(
	[IDCHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOKHOIHANH]    Script Date: 06/13/2018 12:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOKHOIHANH](
	[GIO] [time](7) NOT NULL,
 CONSTRAINT [PK_GIOKHOIHANH] PRIMARY KEY CLUSTERED 
(
	[GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GUIHANGHOA]    Script Date: 06/13/2018 12:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUIHANGHOA](
	[IDKHACHGUIHANG] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[IDCHUYEN] [int] NULL,
	[TENHANG] [nchar](10) NULL,
	[GIATIEN] [int] NULL,
 CONSTRAINT [PK_GUIHANGHOA] PRIMARY KEY CLUSTERED 
(
	[IDKHACHGUIHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHDIXE]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHDIXE](
	[IDKHACH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIBANGLAI]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBANGLAI](
	[IDLOAI] [int] NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIBANGLAI] PRIMARY KEY CLUSTERED 
(
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[IDLOAI] [int] NOT NULL,
	[TENLOAI] [nchar](50) NULL,
	[SOCHONGOI] [int] NULL,
	[HESOGIAVE] [float] NULL,
 CONSTRAINT [PK_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[UserName] [char](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[Hinh] [nvarchar](50) NULL,
	[status] [char](10) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENXE]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENXE](
	[IDNHANVIENXE] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
	[NAMSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[BANGLAI] [int] NULL,
	[NGAYTHAMGIA] [date] NULL,
	[LOAINHANVIEN] [int] NULL,
	[BENHIENTAI] [int] NULL,
 CONSTRAINT [PK_NHANVIENXE] PRIMARY KEY CLUSTERED 
(
	[IDNHANVIENXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[IDPermission] [char](50) NOT NULL,
	[NamePermission] [char](50) NULL,
	[ve] [bit] NULL,
	[chuyen] [bit] NULL,
	[tuyen] [bit] NULL,
	[thongke] [bit] NULL,
	[nhanvien] [bit] NULL,
	[khachdixe] [bit] NULL,
	[khachguihang] [bit] NULL,
	[hanghoa] [bit] NULL,
	[nhanvienxe] [bit] NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[IDPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENXE]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENXE](
	[IDTUYEN] [int] NOT NULL,
	[BENDI] [int] NULL,
	[BENDEN] [int] NULL,
	[GIAVEMATDINH] [money] NULL,
	[NGAYCAPNHATGIA] [date] NULL,
	[QUANDUONG] [int] NULL,
	[THOIGIANDI] [time](7) NULL,
 CONSTRAINT [PK_TUYENXE] PRIMARY KEY CLUSTERED 
(
	[IDTUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[UserName] [char](50) NOT NULL,
	[PassWord] [char](50) NULL,
	[IDPermission] [char](50) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEXE]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEXE](
	[IDVE] [int] IDENTITY(1,1) NOT NULL,
	[IDCHUYEN] [int] NULL,
	[TONGTIEN] [money] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_VEXE_1] PRIMARY KEY CLUSTERED 
(
	[IDVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 06/13/2018 12:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[BIENSO] [nvarchar](50) NOT NULL,
	[NHASANXUAT] [nvarchar](50) NULL,
	[NGAYMUA] [date] NULL,
	[IDLOAI] [int] NULL,
	[BENHIENTAI] [int] NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY CLUSTERED 
(
	[BIENSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BENXE] ON 

INSERT [dbo].[BENXE] ([IDBEN], [TENBEN], [TINH]) VALUES (1, N'Đà Lạt', N'ĐÀ LẠT                                            ')
INSERT [dbo].[BENXE] ([IDBEN], [TENBEN], [TINH]) VALUES (2, N'TP HCM', N'TP HCM                                            ')
INSERT [dbo].[BENXE] ([IDBEN], [TENBEN], [TINH]) VALUES (3, N'CẦN THƠ', N'CẦN THƠ                                           ')
SET IDENTITY_INSERT [dbo].[BENXE] OFF
SET IDENTITY_INSERT [dbo].[CHITIETVE] ON 

INSERT [dbo].[CHITIETVE] ([IDCTVX], [SOGHE], [IDKHACH], [IDVE]) VALUES (3, 23, 1, 1)
INSERT [dbo].[CHITIETVE] ([IDCTVX], [SOGHE], [IDKHACH], [IDVE]) VALUES (6, 7, 3, 3)
INSERT [dbo].[CHITIETVE] ([IDCTVX], [SOGHE], [IDKHACH], [IDVE]) VALUES (1008, 30, 3, 6)
SET IDENTITY_INSERT [dbo].[CHITIETVE] OFF
SET IDENTITY_INSERT [dbo].[CHUYENXE] ON 

INSERT [dbo].[CHUYENXE] ([IDCHUYEN], [IDTUYEN], [BIENSO], [NGAYKHOIHANH], [THOIGIANKHOIHANH], [THOIGIANDEN], [GIAVECHUYEN], [IDNV1], [IDNV2], [IDNV3], [IDNV4]) VALUES (1, 1, N'bs001', CAST(N'2018-08-08' AS Date), CAST(N'01:00:00' AS Time), CAST(N'2018-04-10T02:00:00.000' AS DateTime), 50.0000, 1, NULL, NULL, NULL)
INSERT [dbo].[CHUYENXE] ([IDCHUYEN], [IDTUYEN], [BIENSO], [NGAYKHOIHANH], [THOIGIANKHOIHANH], [THOIGIANDEN], [GIAVECHUYEN], [IDNV1], [IDNV2], [IDNV3], [IDNV4]) VALUES (2, 2, N'bs002', CAST(N'2018-04-16' AS Date), CAST(N'00:00:00' AS Time), CAST(N'2018-05-05T00:00:00.000' AS DateTime), 500000.0000, 2, NULL, NULL, NULL)
INSERT [dbo].[CHUYENXE] ([IDCHUYEN], [IDTUYEN], [BIENSO], [NGAYKHOIHANH], [THOIGIANKHOIHANH], [THOIGIANDEN], [GIAVECHUYEN], [IDNV1], [IDNV2], [IDNV3], [IDNV4]) VALUES (3, 3, N'bs003', CAST(N'2018-08-16' AS Date), CAST(N'01:00:00' AS Time), NULL, 522.0000, 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CHUYENXE] OFF
INSERT [dbo].[GIOKHOIHANH] ([GIO]) VALUES (CAST(N'00:00:00' AS Time))
INSERT [dbo].[GIOKHOIHANH] ([GIO]) VALUES (CAST(N'01:00:00' AS Time))
INSERT [dbo].[GIOKHOIHANH] ([GIO]) VALUES (CAST(N'02:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[GUIHANGHOA] ON 

INSERT [dbo].[GUIHANGHOA] ([IDKHACHGUIHANG], [HOTEN], [DIACHI], [SDT], [IDCHUYEN], [TENHANG], [GIATIEN]) VALUES (1, N'LUAN HOANG', N'LUSDF', N'LSADHFH', 1, N'LASDF     ', 100000)
INSERT [dbo].[GUIHANGHOA] ([IDKHACHGUIHANG], [HOTEN], [DIACHI], [SDT], [IDCHUYEN], [TENHANG], [GIATIEN]) VALUES (5, N'alsfkh', N'104/7', N'alsfkh', 1, N'alsfkh    ', 1000000)
SET IDENTITY_INSERT [dbo].[GUIHANGHOA] OFF
SET IDENTITY_INSERT [dbo].[KHACHDIXE] ON 

INSERT [dbo].[KHACHDIXE] ([IDKHACH], [HOTEN], [DIACHI], [SDT]) VALUES (1, N'luan', N'013213', N'lasdf')
INSERT [dbo].[KHACHDIXE] ([IDKHACH], [HOTEN], [DIACHI], [SDT]) VALUES (3, N'q', N'q', N'q')
INSERT [dbo].[KHACHDIXE] ([IDKHACH], [HOTEN], [DIACHI], [SDT]) VALUES (4, N'sadf', N'sd', N'asd')
SET IDENTITY_INSERT [dbo].[KHACHDIXE] OFF
INSERT [dbo].[LOAIBANGLAI] ([IDLOAI], [TENLOAI]) VALUES (1, NULL)
INSERT [dbo].[LOAIBANGLAI] ([IDLOAI], [TENLOAI]) VALUES (2, NULL)
INSERT [dbo].[LOAIBANGLAI] ([IDLOAI], [TENLOAI]) VALUES (3, NULL)
INSERT [dbo].[LOAIXE] ([IDLOAI], [TENLOAI], [SOCHONGOI], [HESOGIAVE]) VALUES (1, N'BÌNH DÂN                                          ', 50, 1)
INSERT [dbo].[LOAIXE] ([IDLOAI], [TENLOAI], [SOCHONGOI], [HESOGIAVE]) VALUES (2, N'CAO CẤP                                           ', 69, 1.5)
INSERT [dbo].[NhanVien] ([UserName], [HoTen], [DiaChi], [CMND], [NgaySinh], [Hinh], [status], [SDT]) VALUES (N'1                                                 ', N'ad', N'a', N'a', CAST(N'2001-12-12' AS Date), N'D:\QLBX\QLBX\Img\admin.jpg', NULL, NULL)
INSERT [dbo].[NhanVien] ([UserName], [HoTen], [DiaChi], [CMND], [NgaySinh], [Hinh], [status], [SDT]) VALUES (N'cucu                                              ', NULL, NULL, NULL, CAST(N'2001-12-18' AS Date), NULL, N'2         ', NULL)
INSERT [dbo].[NhanVien] ([UserName], [HoTen], [DiaChi], [CMND], [NgaySinh], [Hinh], [status], [SDT]) VALUES (N'hoangG                                            ', N'ti dai caidtdf', N'lksdf', NULL, NULL, NULL, N'2         ', NULL)
SET IDENTITY_INSERT [dbo].[NHANVIENXE] ON 

INSERT [dbo].[NHANVIENXE] ([IDNHANVIENXE], [HOTEN], [CMND], [NAMSINH], [DIACHI], [SDT], [BANGLAI], [NGAYTHAMGIA], [LOAINHANVIEN], [BENHIENTAI]) VALUES (1, N'NGUYỄN VĂN TÀI                                    ', N'333222099                                         ', CAST(N'1990-01-01' AS Date), N'140 LÊ TRỌNG TẤN                                  ', N'012345678                                         ', 1, CAST(N'2018-01-01' AS Date), 1, 1)
INSERT [dbo].[NHANVIENXE] ([IDNHANVIENXE], [HOTEN], [CMND], [NAMSINH], [DIACHI], [SDT], [BANGLAI], [NGAYTHAMGIA], [LOAINHANVIEN], [BENHIENTAI]) VALUES (2, N'TRẦN VĂN TÝ                                       ', N'321555123                                         ', CAST(N'1985-02-01' AS Date), N'60 PHAN VĂN TRỊ                                   ', N'012264859                                         ', 2, CAST(N'2017-02-02' AS Date), 0, 2)
INSERT [dbo].[NHANVIENXE] ([IDNHANVIENXE], [HOTEN], [CMND], [NAMSINH], [DIACHI], [SDT], [BANGLAI], [NGAYTHAMGIA], [LOAINHANVIEN], [BENHIENTAI]) VALUES (3, N'LÊ THỊ MINH                                       ', N'321551222                                         ', CAST(N'1996-02-09' AS Date), N'41 NGUYỄN THÁI SƠN                                ', N'0909009                                           ', 1, CAST(N'2016-02-02' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[NHANVIENXE] OFF
INSERT [dbo].[PERMISSION] ([IDPermission], [NamePermission], [ve], [chuyen], [tuyen], [thongke], [nhanvien], [khachdixe], [khachguihang], [hanghoa], [nhanvienxe]) VALUES (N'1                                                 ', N'admin                                             ', 0, 1, 0, 1, 1, 1, 1, 1, 0)
INSERT [dbo].[PERMISSION] ([IDPermission], [NamePermission], [ve], [chuyen], [tuyen], [thongke], [nhanvien], [khachdixe], [khachguihang], [hanghoa], [nhanvienxe]) VALUES (N'2                                                 ', N'staff                                             ', 0, 1, 1, 0, 1, 1, 0, 0, 1)
INSERT [dbo].[PERMISSION] ([IDPermission], [NamePermission], [ve], [chuyen], [tuyen], [thongke], [nhanvien], [khachdixe], [khachguihang], [hanghoa], [nhanvienxe]) VALUES (N'3                                                 ', N'ong noi                                           ', 0, 1, 0, 0, 1, 0, 0, 0, 1)
INSERT [dbo].[TUYENXE] ([IDTUYEN], [BENDI], [BENDEN], [GIAVEMATDINH], [NGAYCAPNHATGIA], [QUANDUONG], [THOIGIANDI]) VALUES (1, 5, 2, 600000.0000, NULL, NULL, CAST(N'05:00:00' AS Time))
INSERT [dbo].[TUYENXE] ([IDTUYEN], [BENDI], [BENDEN], [GIAVEMATDINH], [NGAYCAPNHATGIA], [QUANDUONG], [THOIGIANDI]) VALUES (2, 5, 3, 500000.0000, NULL, NULL, CAST(N'06:00:00' AS Time))
INSERT [dbo].[TUYENXE] ([IDTUYEN], [BENDI], [BENDEN], [GIAVEMATDINH], [NGAYCAPNHATGIA], [QUANDUONG], [THOIGIANDI]) VALUES (3, 4, 2, 400000.0000, NULL, NULL, CAST(N'07:00:00' AS Time))
INSERT [dbo].[USER] ([UserName], [PassWord], [IDPermission]) VALUES (N'1                                                 ', N'ad                                                ', N'2                                                 ')
INSERT [dbo].[USER] ([UserName], [PassWord], [IDPermission]) VALUES (N'cucu                                              ', N'1                                                 ', N'3                                                 ')
INSERT [dbo].[USER] ([UserName], [PassWord], [IDPermission]) VALUES (N'hoangG                                            ', N'1                                                 ', N'4                                                 ')
SET IDENTITY_INSERT [dbo].[VEXE] ON 

INSERT [dbo].[VEXE] ([IDVE], [IDCHUYEN], [TONGTIEN], [TRANGTHAI]) VALUES (1, 1, 50.0000, 1)
INSERT [dbo].[VEXE] ([IDVE], [IDCHUYEN], [TONGTIEN], [TRANGTHAI]) VALUES (3, 1, 50.0000, 1)
INSERT [dbo].[VEXE] ([IDVE], [IDCHUYEN], [TONGTIEN], [TRANGTHAI]) VALUES (6, 1, 50.0000, 1)
SET IDENTITY_INSERT [dbo].[VEXE] OFF
INSERT [dbo].[XE] ([BIENSO], [NHASANXUAT], [NGAYMUA], [IDLOAI], [BENHIENTAI]) VALUES (N'BS001                                             ', N'MARTIN-107                                        ', CAST(N'2009-09-09' AS Date), NULL, 1)
INSERT [dbo].[XE] ([BIENSO], [NHASANXUAT], [NGAYMUA], [IDLOAI], [BENHIENTAI]) VALUES (N'bs0010', N'rollS&royCE', NULL, NULL, 1)
INSERT [dbo].[XE] ([BIENSO], [NHASANXUAT], [NGAYMUA], [IDLOAI], [BENHIENTAI]) VALUES (N'bs0011', N'ferary', NULL, NULL, 2)
ALTER TABLE [dbo].[CHITIETVE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETVE_VEXE] FOREIGN KEY([IDVE])
REFERENCES [dbo].[VEXE] ([IDVE])
GO
ALTER TABLE [dbo].[CHITIETVE] CHECK CONSTRAINT [FK_CHITIETVE_VEXE]
GO
ALTER TABLE [dbo].[CHITIETVE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETVEXE_KHACHDIXE] FOREIGN KEY([IDKHACH])
REFERENCES [dbo].[KHACHDIXE] ([IDKHACH])
GO
ALTER TABLE [dbo].[CHITIETVE] CHECK CONSTRAINT [FK_CHITIETVEXE_KHACHDIXE]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_GIOKHOIHANH] FOREIGN KEY([THOIGIANKHOIHANH])
REFERENCES [dbo].[GIOKHOIHANH] ([GIO])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_GIOKHOIHANH]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_NHANVIENXE] FOREIGN KEY([IDNV1])
REFERENCES [dbo].[NHANVIENXE] ([IDNHANVIENXE])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_NHANVIENXE]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_NHANVIENXE1] FOREIGN KEY([IDNV2])
REFERENCES [dbo].[NHANVIENXE] ([IDNHANVIENXE])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_NHANVIENXE1]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_NHANVIENXE2] FOREIGN KEY([IDNV3])
REFERENCES [dbo].[NHANVIENXE] ([IDNHANVIENXE])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_NHANVIENXE2]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_NHANVIENXE3] FOREIGN KEY([IDNV4])
REFERENCES [dbo].[NHANVIENXE] ([IDNHANVIENXE])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_NHANVIENXE3]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_TUYENXE] FOREIGN KEY([IDTUYEN])
REFERENCES [dbo].[TUYENXE] ([IDTUYEN])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_TUYENXE]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_XE] FOREIGN KEY([BIENSO])
REFERENCES [dbo].[XE] ([BIENSO])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_XE]
GO
ALTER TABLE [dbo].[GUIHANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_GUIHANGHOA_CHUYENXE] FOREIGN KEY([IDCHUYEN])
REFERENCES [dbo].[CHUYENXE] ([IDCHUYEN])
GO
ALTER TABLE [dbo].[GUIHANGHOA] CHECK CONSTRAINT [FK_GUIHANGHOA_CHUYENXE]
GO
ALTER TABLE [dbo].[GUIHANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_GUIHANGHOA_CHUYENXE1] FOREIGN KEY([IDCHUYEN])
REFERENCES [dbo].[CHUYENXE] ([IDCHUYEN])
GO
ALTER TABLE [dbo].[GUIHANGHOA] CHECK CONSTRAINT [FK_GUIHANGHOA_CHUYENXE1]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_USER] FOREIGN KEY([UserName])
REFERENCES [dbo].[USER] ([UserName])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_USER]
GO
ALTER TABLE [dbo].[NHANVIENXE]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIENXE_LOAIBANGLAI] FOREIGN KEY([BANGLAI])
REFERENCES [dbo].[LOAIBANGLAI] ([IDLOAI])
GO
ALTER TABLE [dbo].[NHANVIENXE] CHECK CONSTRAINT [FK_NHANVIENXE_LOAIBANGLAI]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_TUYENXE_BENXE] FOREIGN KEY([BENDEN])
REFERENCES [dbo].[BENXE] ([IDBEN])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_TUYENXE_BENXE]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_TUYENXE_BENXE1] FOREIGN KEY([BENDI])
REFERENCES [dbo].[BENXE] ([IDBEN])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_TUYENXE_BENXE1]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_PERMISSION1] FOREIGN KEY([IDPermission])
REFERENCES [dbo].[PERMISSION] ([IDPermission])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_PERMISSION1]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_VEXE_CHUYENXE] FOREIGN KEY([IDCHUYEN])
REFERENCES [dbo].[CHUYENXE] ([IDCHUYEN])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_VEXE_CHUYENXE]
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD  CONSTRAINT [FK_XE_LOAIXE] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAIXE] ([IDLOAI])
GO
ALTER TABLE [dbo].[XE] CHECK CONSTRAINT [FK_XE_LOAIXE]
GO
USE [master]
GO
